<%= link_to workout, id: dom_id(workout), data: { turbo_frame: "_top" }, class: "p-4 mx-4 hover:bg-gray-100" do %>
  <div class="flex justify-between">
    <div>
      <h5 class="font-bold">Created <%= time_ago_in_words(workout.created_at) %> ago</h5>
      <div class="text-sm text-gray-800"><%= workout.category %></div>
    </div>
  </div>
  <div class="flex flex-col ml-7 text-sm text-gray-600">
    <% workout.blocks.order(created_at: :desc).each do |block| %>
      <p><%= block.mode %></p>
    <% end %>
  </div>
<% end %>
